@model IEnumerable<Aquapark.Models.ClientEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Simulation", "Simulation")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGoesInside)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryGate.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wristband.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsGoesInside)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryGate.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wristband.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
