@model Aquapark.Models.TicketInPriceList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketInPriceList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attraction.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attraction.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.Type)
        </dd>

    </dl>
</div>
<p>
    @{
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <text>|</text>
        }
        if (User.IsInRole("Admin") || User.IsInRole("SuperManager"))
        {
            @Html.ActionLink("Update", "Update", new { id = Model.Id }) <text>|</text>
        }
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
</p>
