@model IEnumerable<Aquapark.Models.TicketInPriceList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@{
    <div>
        <text>Find by ticket name:</text>@Html.TextBox("ticketNameSearch")
        <text>Find by attraction name:</text>@Html.TextBox("attractionNameSearch")
        <text>Find by age group</text>@Html.DropDownList("AgeGroupList", "All")
        <input type="number" id="priceSearch" name="priceSearch" value="@ViewBag.priceSearch" />
        <text>Find by ticket type</text>@Html.DropDownList("ticketTypeSearchList", "All")


        @{
            if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
            {
                <text>Find by date</text><input type="datetime" name="searchDate" id="searchDate" value="@ViewBag.searchDate" />
            }
        }
    </div>
}


<table class="table" id="resultsTable">
    <tr>
        <th>
            Ticket name
        </th>
        <th>
            Attraction name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attraction.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Show tickets for ticket type", "TicketsForTicketType", "ClientTickets", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(function () {


        $("#AgeGroupList,#ticketTypeSearchList").change(function (e) {
            var tns = $("#ticketNameSearch").val();
            var ans = $("#attractionNameSearch").val();
            var ag = $("#AgeGroupList").val();
            var ps = $("#priceSearch").val();
            var tts = $("#ticketTypeSearchList").val();
            var sd = $("#searchDate").val();

            $.get("/TicketInPriceLists/Index?ticketNameSearch=" + tns + "&attractionNameSearch=" + ans + "&ageGroupSearch=" + ag
                + "&priceSearch=" + ps + "&ticketTypeSearch=" + tts + "&searchDate=" + sd, function (data) {
                    $("#resultsTable").html(data);
            });
        });


        $("#ticketNameSearch,#attractionNameSearch,#priceSearch,#searchDate").keyup(function (e) {
            var tns = $("#ticketNameSearch").val();
            var ans = $("#attractionNameSearch").val();
            var ag = $("#AgeGroupList").val();
            var ps = $("#priceSearch").val();
            var tts = $("#ticketTypeSearchList").val();
            var sd = $("#searchDate").val();

            $.get("/TicketInPriceLists/Index?ticketNameSearch=" + tns + "&attractionNameSearch=" + ans + "&ageGroupSearch=" + ag
                + "&priceSearch=" + ps + "&ticketTypeSearch=" + tts + "&searchDate=" + sd, function (data) {
                    $("#resultsTable").html(data);
           });
        });
    });
</script>
