@model IEnumerable<Aquapark.Models.TicketInPriceList>

@{
    ViewBag.Title = "Attraction index";
}

<h2>Pricelist of attraction</h2>
<br />
@{
    if (User.IsInRole("Admin") || User.IsInRole("SuperManager"))
    {
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-lg" })
    </p>
    }
}

<br />
<table class="table" id="resultsTable">
    <tr>
        <th>
            Ticket name
        </th>
        <th>
            Attraction name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Attraction.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketType.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Entries)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Duration)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>

    <td>
        @{
            if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Update", "Update", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
            }
            else if (User.IsInRole("SuperManager"))
            {
                @Html.ActionLink("Update", "Update", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
            }
            else
            {
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
            }
        }
    </td>
    <td>
        @Html.ActionLink("Show tickets for ticket type", "TicketsForTicketType", "ClientTickets", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
    </td>
</tr>
    }

</table>