@model IEnumerable<Aquapark.Models.Wristband>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>List of wristbands</h2>
@{
    if (User.IsInRole("Admin") || User.IsInRole("SuperManager"))
    {
        <p>
            @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-success btn-lg" })
        </p>
    }
}
<br />
<div>
    @{
        if (User.IsInRole("Admin") || User.IsInRole("SuperManager") || User.IsInRole("Manager"))

        {
            <text>Find by activity: </text>@Html.DropDownList("isActiveSearchList", "Active")
        }
    }
    Find by used: @Html.DropDownList("isUsedSearchList", "All")
</div>

<br />

<table class="table" id="resultsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsUsed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUsed)
            </td>
            <td>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                    }
                    if (User.IsInRole("SuperManager"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                    }
                    if (User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Get Tickets", "GetTicketsOnWristband", "ClientTickets", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Return Wristband", "ReturnWristband", "ClientTickets", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                @Html.ActionLink("Create Ticket", "CreateTicket", "ClientTickets", new { id = item.Id }, new { @class = "btn btn-outline-success" })
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $("#isActiveSearchList,#isUsedSearchList").change(function (e) {
            var ans = $("#isActiveSearchList").val();
            var ius = $("#isUsedSearchList").val();
            $.get("/Wristbands/Index?isActiveSearch=" + ans + "&isUsedSearch=" + ius, function (data) {
                $("#resultsTable").html(data);
            });
        });
    });
</script>
