@model IEnumerable<Aquapark.Models.Wristband>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    @{
        if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
        {
            <text>Find by activity:</text>@Html.DropDownList("isActiveSearchList", "Active")
        }
    }
    Find by used: @Html.DropDownList("isUsedSearchList", "All")
</div>


<table class="table" id="resultsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsUsed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsUsed)
    </td>
    <td>
        @{
            if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text>|</text>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) <text>|</text>
            }
        }
        @Html.ActionLink("Get Tickets", "GetTicketsOnWristband", "ClientTickets", new { id = item.Id }, null) |
        @Html.ActionLink("Return Wristband", "ReturnWristband", "ClientTickets", new { id = item.Id }, null) |
        @Html.ActionLink("Create Ticket", "CreateTicket", "ClientTickets", new { id = item.Id }, new { @class = "btn btn-success" })
    </td>
</tr>
}

</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $("#isActiveSearchList,#isUsedSearchList").change(function (e) {
            var ans = $("#isActiveSearchList").val();
            var ius = $("#isUsedSearchList").val();
            $.get("/Wristbands/Index?isActiveSearch=" + ans + "&isUsedSearch=" + ius, function (data) {
                $("#resultsTable").html(data);
            });
        });
    });
</script>