
@{
    ViewBag.Title = "Charts";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("TicketsTypes", "Index", new { selectedChart = "TicketsTypes" })</li>
        <li>@Html.ActionLink("UsedWristbands", "Index", new { selectedChart = "UsedWristbands" })</li>
        <li>@Html.ActionLink("TicketsSoldByType", "Index", new { selectedChart = "TicketsSoldByType" })</li>
        <li>@Html.ActionLink("SellsPerDate3", "Index", new { selectedChart = "SellsPerDate" })</li>
    </ul>
</div>

<p style="text-align:center">
    @Html.ActionLink("Create Report PDF", "CreatePDF", null, new { @class = "btn btn-outline-dark btn-lg" })
</p>

<div style="text-align:center">
    @{
        string chartPath = "Reports/" + ViewBag.selectedChart;

        if (chartPath != "Reports/")
        {
            <p><img src="@chartPath" /></p>
        }
        else
        {
            <h2>Select the chart to display</h2>
        }
    }
</div>
